{% extends "base.html.twig" %}

{% block body %}
<div>
    <h2>Create a new ride service</h2>
    {% for message in app.flashes('notification') %}
        {{ message }}
    {% endfor %}
    <form action="/ride_service/create" method="post">
        <label>Uuid</label>
        <input name="uuid"/>
        <br>

        <label>Pick up</label>
        <input name="pickup[name]" placeholder="Name"/>
        <input name="pickup[latitude]" placeholder="Latitude"/>
        <input name="pickup[longitude]" placeholder="Longitude"/>
        <br>

        <label>Drop off</label>
        <input name="drop_off[name]" placeholder="Name"/>
        <input name="drop_off[latitude]" placeholder="Latitude"/>
        <input name="drop_off[longitude]" placeholder="Longitude"/>
        <br>

        <label>Vehicle type</label>
        <select name="vehicle">
            <option value="sedan">Sedan</option>
            <option value="suv">Suv</option>
            <option value="van">Van</option>
        </select>
        <br>

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}